<!DOCTYPE html>
<html>
  <head>
    <title>RingIn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script type="text/javascript">
      window.namelogoURL = "<%= image_url("namelogo.svg") %>"
      window.logoURL = "<%= image_url("logo.svg") %>"
      window.ringURL = "<%= image_url("theonering.svg") %>"
      window.fireURL = "<%= image_url("homepage-fire.svg") %>"
      window.feedURL = "<%= image_url("home-icon.svg") %>"
      window.networkURL = "<%= image_url("network-icon.svg") %>"
      window.githubURL = "<%= image_url("github.svg") %>"
      window.linkedinURL = "<%= image_url("linkedin.svg") %>"
      window.profileURL = "<%= image_url("profile-placeholder.svg") %>"
      window.quillURL = "<%= image_url("quill.svg") %>"
      window.downarrowURL = "<%= image_url("downarrow.svg") %>"
      window.gandalfURL = "<%= image_url("gandalf.svg") %>"
      window.plusURL = "<%= image_url("plus.svg") %>"
      window.vectorURL = "<%= image_url("vector-pen.svg") %>"
      window.hammerURL = "<%= image_url("hammer.svg") %>"
    </script>

    <link rel="icon" type="image/x-icon" href="<%= image_url('ringin.ico') %>" />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>