<!DOCTYPE html>
<html>
  <head>
    <title>RingIn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script type="text/javascript">
      window.namelogoURL = "<%= image_url("namelogo.svg") %>"
      window.logoURL = "<%= image_url("logo.svg") %>"
      window.ringURL = "<%= image_url("theonering.svg") %>"
      window.fireURL = "<%= image_url("homepagefire.gif") %>"
      window.feedURL = "<%= image_url("home-icon.svg") %>"
      window.networkURL = "<%= image_url("network-icon.svg") %>"
      window.githubURL = "<%= image_url("github.svg") %>"
      window.linkedinURL = "<%= image_url("linkedin.svg") %>"
      window.angellistURL = "<%= image_url("angellist.svg") %>"
      window.profileURL = "<%= image_url("profile-placeholder.svg") %>"
      window.quillURL = "<%= image_url("quill.svg") %>"
      window.downarrowURL = "<%= image_url("downarrow.svg") %>"
      window.gandalfURL = "<%= image_url("gandalf.png") %>"
      window.plusURL = "<%= image_url("plus.svg") %>"
      window.vectorURL = "<%= image_url("vector-pen.svg") %>"
      window.happyRobotURL = "<%= image_url("happyrobot.svg") %>"
      window.neutralRobotURL = "<%= image_url("neutralrobot.svg") %>"
      window.happyRobotSignupURL = "<%= image_url("happyrobotsignup.svg") %>"
      window.neutralRobotSignupURL = "<%= image_url("neutralrobotsignup.svg") %>"
      window.searchIconURL = "<%= image_url("searchicon.svg") %>"
      window.postPhotoURL = "<%= image_url("postphoto.svg") %>"
      window.postVideoURL = "<%= image_url("postvideo.svg") %>"
      window.postAwsURL = "<%= image_url("postaws.svg") %>"
      window.xURL = "<%= image_url("x.svg") %>"
      window.submitPhotoURL = "<%= image_url("submitphoto.svg") %>"
      window.submitVideoURL = "<%= image_url("submitvideo.svg") %>"
      window.awsURL = "<%= image_url("awslogo.svg") %>"
      window.postEditURL = "<%= image_url("postedit.svg") %>"
      window.linkURL = "<%= image_url("link.svg") %>"
      window.ownerURL = "<%= image_url("owner.svg") %>"
      window.trashURL = "<%= image_url("trash.svg") %>"
      window.mediaXURL = "<%= image_url("mediaX.svg") %>"
      window.mediaEditURL = "<%= image_url("mediaEdit.svg") %>"
      window.nolikeURL = "<%= image_url("reactnolike.svg") %>"
      window.likeURL = "<%= image_url("reactlike.svg") %>"
      window.celebrateURL = "<%= image_url("reactcelebrate.svg") %>"
      window.supportURL = "<%= image_url("reactsupport.svg") %>"
      window.loveURL = "<%= image_url("reactlove.svg") %>"
      window.insightfulURL = "<%= image_url("reactinsightful.svg") %>"
      window.curiousURL = "<%= image_url("reactcurious.svg") %>"
      window.commentURL = "<%= image_url("commenticon.svg") %>"
      window.connectionBarURL = "<%= image_url("connectionbar.svg") %>"
      window.noresultsURL = "<%= image_url("noresults.gif") %>"
      window.invitePlaceURL = "<%= image_url("inviteplace.svg") %>"
      window.inviteMutualURL = "<%= image_url("invitemutual.svg") %>"
      window.bannerButtonURL = "<%= image_url("bannerbutton.svg") %>"
      window.bannerUploadURL = "<%= image_url("bannerupload.svg") %>"
    </script>

    <link rel="icon" type="image/x-icon" href="<%= image_url('ringin.ico') %>" />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>